
<div class="container" id='gamesContainer'>
	<h1>Games Database</h1>
	<!--GAME SEARCH-->
	<form action="/games/search" method="get">
		<div class="form-row">
			<div class="form-group col-md-7">
				<input name="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
			</div>
			<div class="form-group col-md-3">
				<select class="form-control" name="filter">
					<option value="game_name">Game Name </option>
					<option value="min_players">Minimum Players </option>
					<option value="max_players">Maximum Players </option>
				</select>
			</div>
			<div class="form-group col-md-2">
				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
			</div>
		</div>
	</form>

	<!--ADD GAME-->
	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addgame" aria-expanded="false" aria-controls="addaccount">
		Add Game
	</button><br />
	<div class="collapse" id="addgame">
		<form action="/games/add" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<input type="text" class="form-control" name="new_game_name" placeholder="Game Name" required>
				</div>
				<span>&nbsp</span>
				<!-- <div class="form-group col-md-6">
					<input type="text" class="form-control" name="new_game_category" placeholder="Game Category">
				</div> -->
        <div class="form-group col-md-6">
					<input type="number" class="form-control" name="new_min_players" placeholder="Min Players" required>
				</div>
				<span>&nbsp</span>
        <div class="form-group col-md-6">
					<input type="number" class="form-control" name="new_max_players" placeholder="Max Players" required>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</br>

<!--GAME TABLE-->
	<div class="table-responsive">
		<table class='table'>
			<thead>
				<tr>
					<th>Game Name</th>
					<!-- <th>Game Category</th> -->
          <th class="text-center">Minimum Players</th>
			    <th class="text-center">Maximum Players</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{{#each games}}
				<tr>
					<td class="hidden">{{id}}</td>
					<td>{{game_name}}</td>
          <!-- <td>{{game_category}}</td> -->
          <td align = "center">{{min_players}}</td>
          <td align = "center">{{max_players}}</td>
					<td>
						<button type="button" class="btn btn-warning btn-padded btn-lg" data-toggle="modal" data-target="#gameUpdate{{id}}"><span class="glyphicon glyphicon-pencil"></span></button>
					</td>
					<td>
						<form action="games/delete" method="post">
							<input type="hidden" name="deleteGID" value="{{id}}">
							<button type="submit" onclick="return confirmation()" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-remove"></span></button>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

  <!--GAME UPDATE-->
  {{#each games}}
    <div class="row d-flex justify-content-center modalWrapper">
      <div class="modal fade modalUpdateClass" id="gameUpdate{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form action="/games/update" method="post">
              <input type="hidden" name="updateID" value="{{id}}">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold ml-5"> Update Entry</h4>
                <button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="md-form mb-1">
                  <label data-error="wrong" data-success="right" for="editGameName">Game Name</label>
                  <input type="text" name="editGameName" class="form-control validate" value="{{game_name}}" required>
                </div>
                <!-- <div class="md-form mb-1">
                  <label data-error="wrong" data-success="right" for="editGameCategory">Last Name</label>
                  <input type="text" name="editGameCategory" class="form-control validate" value="{{game_category}}" required>
                </div> -->
                <div class="md-form mb-1">
                  <label data-error="wrong" data-success="right" for="editMinPlayers">Minumum Number of Players</label>
                  <input type="text" name="editMinPlayers" class="form-control validate" min="0" value="{{min_players}}" required>
                </div>
                <div class="md-form mb-1">
                  <label data-error="wrong" data-success="right" for="editMaxPlayers">Maximum Number of Players</label>
                  <input type="text" name="editMaxPlayers" class="form-control validate" min="1" value="{{max_players}}" required>
                </div>
              </div>
              <div class="modal-footer d-flex justify-content-center updateInsideWrapper">
                <button type="submit" class="btn btn-secondary btn-block updateInside">
                  Confirm Changes
                  <i class="fas fa-paper-plane-o ml-1"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
</div>
