<div class="container" id='groupContainer'>
	<h1>Groups Database</h1>
	<!--GROUP SEARCH-->
	<form class="" action="/groups/search" method="get">
		<div class="form-row">
			<div class="form-group col-md-7">
				<input name="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
			</div>
			<div class="form-group col-md-3">
				<select class="form-control" name="filter">
					<option value="group_name">Group Name</option>
				</select>
			</div>
			<div class="form-group col-md-2">
				<button type="submit" class="btn btn-primary btn"><span class="glyphicon glyphicon-search"></span></button>
			</div>
		</div>
	</form>

<!--ADD PLAYER TO GROUP-->
	<h3>Add A Player To A Group</h3>
		<form action="/groups/addGroupPlayer" method="post">
			<div class="form-group">
				<div class="form-group col-md-3">
					<select class="form-control" name="player_selection2">
						<option value="select-player">Select Player</option>
						{{#each players}}
							<option value="{{id}}">{{first_name}} {{last_name}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group col-md-3">
					<select class="form-control" name="group_selection">
						<option value="select-game">Select Group</option>
						{{#each groups}}
							<option value="{{id}}">{{group_name}}</option>
						{{/each}}
					</select>
				</div>
					<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>

	<!--ADD GROUP-->
	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addGroup" aria-expanded="false" aria-controls="addaccount">
		Add a New Group
	</button>
	<br/>
	<div class="collapse" id="addGroup">
		<form action="/groups/add" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<input type="text" class="form-control" name="new_group_name" placeholder="Group Name">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</br>

	<!--GROUP TABLE-->
	<div class = "table-responsive">
		<table class='table'>
			<thead>
				<tr>
					<th>Group Name</th>
					<th class="text-center">See Group Members</th>
					<th class="text-center">See Group Games</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{{#each groups}}
				<tr>
					<td class="hidden">{{id}}</td>
					<td>{{group_name}}</td>
					<td align = "center"><!--number of players-->
						<form action="groups/seePlayers" method="get">
							<input type="hidden" name="seePlayersID" value="{{id}}">
							<button type="submit" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-user"></span></button>
						</form>
					</td>
					<td align = "center"><!--number of players-->
						<form action="groups/seeGroupGames" method="get">
							<input type="hidden" name="seeGGID" value="{{id}}">
							<button type="submit" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-tower"></span></button>
						</form>
					</td>
					<td>
						<button type="button" class="btn btn-warning btn-padded btn-lg" data-toggle="modal" data-target="#groupUpdate{{id}}"><span class="glyphicon glyphicon-pencil"></span></button>
					</td>
					<td>
						<form action="groups/delete" method="post">
							<input type="hidden" name="deleteGroupID" value="{{id}}">
							<button type="submit" onclick="return confirmation()" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-remove"></span></button>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<!--GROUP UPDATE-->
	{{#each groups}}
	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="groupUpdate{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/groups/update" method="post">
						<input type="hidden" name="updateID" value="{{id}}">
						<div class="modal-header text-center">
							<h4 class="modal-title w-100 font-weight-bold ml-5">Update Entry</h4>
							<button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body mx-3">
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editGroupName">Group Name</label>
								<input type="text" name="editGroupName" class="form-control validate" value="{{group_name}}" required>
							</div>
						</div>
						<div class="modal-footer d-flex justify-content-center updateInsideWrapper">
							<button type="submit" class="btn btn-secondary btn-block updateInside">
								Confirm Changes
								<i class="fas fa-paper-plane-o ml-1"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{{/each}}

</div>
