
<div class="container" id="playerContainer">
	<h1>Player Database</h1>
	<!--PLAYER SEARCH-->
	<form action="/players/search" method="get">
		<div class="form-row">
			<div class="form-group col-md-7">
				<input name="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
			</div>
			<div class="form-group col-md-3">
				<select class="form-control" name="filter">
					<option value="first_name">First Name</option>
					<option value="last_name">Last Name</option>
				</select>
			</div>
			<div class="form-group col-md-2">
				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
			</div>
		</div>
	</form>

  <h1>Add A Game to A Player's Library</h1>
  <form>
    <div class="form-group">
      <div class="form-group col-md-3">
        <select class="form-control" name="filter">
          <option value="select-player">Select Player</option>
          {{#each players}}
            <option value="{{first_name}}">{{first_name}}, {{last_name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group col-md-3">
        <select class="form-control" name="filter">
          <option value="select-game">Select Game</option>
          {{#each games}}
            <option value="{{game_name}}">{{game_name}}</option>
          {{/each}}
        </select>
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>

  <!--PLAYER ADD-->
  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addaccount" aria-expanded="false" aria-controls="addaccount">Add a new Player</button>
  <br/>
  <div class="collapse" id="addaccount">
    <form action="/players/add" method="post">
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" name="new_first_name" placeholder="First Name" required>
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" name="new_last_name" placeholder="Last Name" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <!--PLAYER TABLE-->
  <div class="table-responsive">
    <table class='table'>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Player Card</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each players}}
        <tr>
          <td class="hidden">{{id}}</td>
          <td class="td-padded">{{first_name}}</td>
          <td class="td-padded">{{last_name}}</td>
          <td>
            <button type="button" class="btn btn-warning btn-padded" data-toggle="modal" data-target="#playerCard{{id}}"><span class="glyphicon glyphicon-user"></span></button>
          </td>
          <td>
            <button type="button" class="btn btn-warning btn-padded" data-toggle="modal" data-target="#playerUpdate{{id}}"><span class="glyphicon glyphicon-pencil"></span> </button>
          </td>
          <td>
            <form action="players/delete" method="post">
              <input type="hidden" name="deleteID" value="{{id}}">
              <button type="submit" onclick="return confirmation()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  {{!-- <script type="text/javascript">
    function confirmation() {
      return confirm("Are you sure you'd like to delete this player?");
    }
  </script> --}}

	<!--PLAYER UPDATE-->
  {{#each players}}
	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="playerUpdate{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/players/update" method="post">
						<input type="hidden" name="updateID" value="{{id}}">
						<div class="modal-header text-center">
							<h4 class="modal-title w-100 font-weight-bold ml-5"> Update Entry</h4>
							<button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body mx-3">
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editFirstName">First Name</label>
								<input type="text" name="editFirstName" class="form-control validate" value="{{first_name}}" required>
							</div>
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editLastName">Last Name</label>
								<input type="text" name="editLastName" class="form-control validate" value="{{last_name}}" required>
							</div>
						</div>
						<div class="modal-footer d-flex justify-content-center updateInsideWrapper">
							<button type="submit" class="btn btn-secondary btn-block updateInside">
								Confirm Changes
								<i class="fas fa-paper-plane-o ml-1"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
  </div>

{{!-- PLAYER CARD --}}
 {{#each players}}
  <div class="row d-flex justify-content-center modalWrapper">
    <div class="modal fade modalUpdateClass" id="playerCard{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="/players/update" method="post">
            <input type="hidden" name="playerCardID" value="{{id}}">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold ml-5">{{first_name}} {{last_name}}</h4>
              <button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
                <div class="col-md-4">
                  <img class="player-img" src="{{img}}">
                </div>
                <div class="col-md-6">
                <p>Favorite Game: </p> <!-- game they own -->
                <p>Team: Team Gryffindor</p> <!-- team they are on -->
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  </div>
