<div class='container'>
	<h1>All Players</h1>
	<table class='table'>
		<thead>
			<th>First Name</th>
			<th>Last Name</th>
      <th>Delete Player</th>
      <th>Edit Player</th>
		</thead>
		{{#each data}}
			<tbody>
				<td>{{first_name}}</td>
				<td>{{last_name}}</td>
        <td><button type="button" onclick="deletePlayer({{id}})" class="btn btn-default" id="player-delete-btn" value="{{id}}"><span class="glyphicon glyphicon-remove"></span></a></button></td>
        <td><button type="button" class="btn btn-default" value="{{id}}"><span class="glyphicon glyphicon-pencil"></span></a></button></td>
			</tbody>
		{{/each}}               
	</table>

  <h1>Add A New Player</h1>
    <form action="player_add" method="post">
      <div class="form-group">
        <!-- <label for="playerFName">First Name</label> -->
        <input type="text" class="form-control" id="" name="first_name" aria-describedby="" placeholder="First Name">
      </div>
      <div class="form-group">
        <!-- <label for="playerLName">Last Name</label> -->
        <input type="text" class="form-control" id="" name="last_name" placeholder="Last Name">
      </div>
        <input type="submit" value="Submit" class="ylw-btn"></input>
      </div>
    </form>
</div>
